%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, html: { class: "form-horizontal"} do |f|
        %header
          %h1 Register 
        %fieldset
          .form-group
            .col-sm-6
              = f.email_field :email, label: "Email Address"
          .form-group
            .col-sm-6
              = f.password_field :password, label: "Password"
          .form-group
            .col-sm-6
              = f.password_field :password_confirmation, label: "Confirm Password"
          .form-group
            .col-sm-6
              = f.text_field :username, label: "Full Name"
          = hidden_field_tag :invitation_token, @invitation_token

          .form-group     
            = f.submit "Sign Up"